<div class="jumbotron">
  <h1 class="display-4"><%= t("welcome")%></h1>
  <p class="lead"><%= t("messages.welcome") %></p>
  <hr class="my-4">
  <p><%= t("messages.menu")%></p>
  <%= link_to t("links.info"), inicio_path, class: "btn btn-primary btn-lg", role:"button" %>
  <%= link_to t("links.add_coin"), coins_path, class: "btn btn-primary btn-lg", role:"button" %>
  <%= link_to t("links.wallet"), user_path, class: "btn btn-primary btn-lg", role:"button" %>
</div>