<p id="notice"><%= notice %></p>
<table align="center" style="background-color: orangered;" >
  <thead>
    <tr>
      <th>Moeda</th>
    </tr>
  </thead>
  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><%= image_tag coin.url_image, width: 25, height: 25 %></td>
        <td><%= link_to 'Deletar', coin, method: :delete, data: { confirm: 'Tem certeza que seja apagar essa moeda?' } %></td>
      </tr>
    <% end %>
      <tr>
      <td><%= link_to "Inicio", inicio_path %></td>
      </tr>
  </tbody>
</table>
