<header>
<div style="float: right; margin-left: 10px;"><%= link_to "Português", root_path(locale: "pt-BR")%></div>
<div style="float: right;"><%= link_to "English", root_path(locale: "en")%></div>

<div style="float: right; font-size: 20px; margin-top: 50px;"><%= t('messages.localization')%><%= t("current_locale") %></div>
    <div><%= image_tag "fogo", width: "200px", height: "200px" %></div>
    <h1 align="center" style="font-size: 50px; font-weight: bold;"><%= @titulo %></h1>
</header>